* {
	margin: 0;
	padding: 0;
}
body {
	background: #dce;
}

header {
	height: 60px;
	background: #323;
}
.logo {
	width: 62px;
	padding-left: 25px; 
	padding-top: 2px;
}
.logo img {
	height: 56px;
	
	border-radius: 5px;
}
nav ul {
	position: absolute;
	right: 15px;
	top: 0;
}
nav li {
	display: block;
    float: left;
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
    width: 60px;
}
nav li a {
	font-size: 15px;
	color: #aaa;
	text-decoration: none;
}
nav li:hover {
	cursor: pointer;
	background: #474747;
	border-bottom: 1px solid red;
	border-radius: 5px;
}

/**-----------------------main内容------------------------**/
main {
	margin-right: 410px;
    padding: 20px 0;
    position: relative;
}
article, aside{
	margin: 25px 30px;
	padding: 15px 20px;
	background: white;
	box-shadow: 1px 1px 2px 1px #848484;
	border-radius: 10px;
}
h1{
	font-size: 28px;
}
h2{
	font-size: 16px;
	color: #808080;
	padding: 5px 0;
}
.author, .aTimer{
	font-size: 12px;
	color: #808080;
	line-height: 10px;
}
article p {
	
	text-indent: 2em;
}
.img1 {
	padding: 8px 0;
	width: 220px;
	height: 230px;
}

article ul li {
	list-style: none;
}

.conImg1 {
	margin: 20px;
	width: 200px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.conImg1 span {
	display: block;
	text-align: center;
	line-height: 10px;
	padding: 12px;
}

.img2 {
	border-radius: 3px;
	width:200px;
	height: 190px;
}

article ol {
	padding: 10px 30px;
}
table {
	border: 1px;
	border-collapse: collapse;
	width: 100%;
}
table tr th {
	background: #333;
	text-align: center;
	color: white;
}
table tr td {
	border: 1px solid #ccc;
}
.buttomLine {
	background: #ccc;
}

/*-------------------aside侧栏-----------------*/
aside {
    position: absolute;
    right: 0;
    top: 80px;
    width: 350px;
}
aside h4 {
	border-left: 3px solid #ccc;
	padding-left: 10px;
	line-height: 40px;
	margin: 8px;
}
aside form div {
	font-size: 0;
	margin: 15px 0;
}
.intro {
	display: inline-block;
	width: 35%;
	padding-right: 15px;
	font-size: 14px;
	text-align: right;
}
.tips {
	padding-left: 15px;
	font-size: 14px;
	margin-left: 35%;
	color: #ccc;
}
aside form div label {
	font-size: 14px;
}
.submitBtn {
	margin: 10px;
	width: 100%;
	text-align: center;
	background: #128fdc;
	font-size: 20px;
	line-height: 40px;
	border-radius: 10px;
	color: white;
	border: none;
}
.submitBtn:hover {
	cursor: pointer;
	background: #0063dc ;
}

/*---------------footer---------------------*/
footer p {
	width: 100%;
	text-align: center;
	height: 80px;
	background: #3c3cef;
	color: #dfadad;
	line-height: 80px;
	font-size: 18px;
}